.board-index {
  color: rgb(23, 43, 77);
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-block: 0.3em;
  }

  h2 {
    margin: 0;
    font-size: 1.3em;
  }

  button {
    margin-inline-end: 0;
  }
}

.home-sidebar {
  margin: 40px 0 0;
  max-height: 90vh;
  padding: 0 16px;
  position: sticky;
  top: 40px;
  width: 256px;
}

.create-board-preview {
  color: rgb(159, 173, 188);
  font-size: rem(14px);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-inline-start: 9px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: rgba(9, 30, 66, 0.06);
  width: 193.875px;
  height: 108px;
  transition: box-shadow 0.3s ease;

  &:hover {
    background: #dcdfe4;
    cursor: pointer;
  }
}
