.board-details {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.board-content {
  margin-top: rem(12px);
  overflow: auto;
  overflow-y: hidden;
  scrollbar-color: #fff6 #00000026;
  scrollbar-width: auto;
}

.lists-container {
  height: 100%;
  align-items: center;
  padding: rem(6px);
  padding-top: rem(2px);
  padding-bottom: rem(44px);
  margin-top: rem(-2px);
  margin-bottom: rem(8px);
}