.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid var(--ds-background-inverse-subtle);
    overflow: hidden;
    transition: all 0.2s;

    img {
        opacity: 1;
    }

    &:hover {
        opacity: 0.8
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .initials {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: var(--ds-text-inverse);
        font-weight: $group-font-weight-semibold;
        text-shadow: 0 1px 2px var(--ds-background-inverse-subtle);
    }

    &.avatar-small {
        width: rem(24px);
        height: rem(24px);

        .initials {
            font-size: rem(10px);
        }
    }

    &.avatar-medium {
        width: rem(28px);
        height: rem(28px);

        .initials {
            font-size: rem(12px);
        }
    }

    &.avatar-large {
        width: rem(32px);
        height: rem(32px);

        .initials {
            font-size: rem(14px);
        }
    }
}