.board-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 2%;
  gap: 0.5em;

  li {
    display: grid;
    grid-template-columns: max-content auto;
    padding: 0.5em;

    color: $clr6;

    .actions {
      justify-self: end;

      button {
        padding: 0.3em 0.5em;
      }
    }
  }
}
