.board-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 2%;
  gap: 0.5em;

  li {
    display: grid;
    grid-template-columns: max-content auto;
    padding: 0.5em;

    color: $clr6;

    .actions {
      justify-self: end;

      button {
        padding: 0.3em 0.5em;
      }
    }
  }
}

.board-preview-wrapper {
  position: relative;
  display: inline-block;

  &:hover .toggle-starred {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}

.toggle-starred {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(10px);
  z-index: 2;
  cursor: pointer;
}
