.group-preview {
  @include group-font-base;
  display: flex;
  flex-direction: column;
  background: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-text-subtle);
  width: $group-width;
  border-radius: rem(12px);
  padding-bottom: rem(4px);
  box-shadow: var(--ds-box-shadow);
  max-height: 100%;
  flex-shrink: 0;
}

.group-header {
  @include group-font-base;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-text);
  width: rem(272px);
  height: rem(40px);
  padding: rem(8px) rem(8px) 0;
  border-radius: rem(12px) rem(12px) 0 0;
}

.group-title-editable {
  @include group-font-base;
  background: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-text);
  width: rem(224px);
  height: rem(32px);
  font-weight: $group-font-weight-semibold;
  flex-grow: 1;
  font-size: rem(14px);
  line-height: rem(20px);
  padding: rem(6px) rem(8px) rem(6px) rem(12px);
  margin: 0;
  outline: none;
  border: none;

  &.editing {
    background: var(--ds-background-input);
    border-radius: rem(3px);
    box-shadow: inset 0 0 0 2px var(--ds-border-focused);
  }
}

.options-btn {
  @include group-button-base;
  background-color: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-icon-subtlest);
  width: $group-button-size;
  height: $group-button-size;
  font-weight: $group-font-weight-medium;
  border-radius: $group-border-radius-medium;
  margin: 0;
  padding: rem(8px);

  svg {
    width: $group-icon-size-large;
    height: $group-icon-size-large;
  }

  &:hover {
    background: var(--ds-background-neutral-hovered);
  }
}

.options-btn svg {
  width: $group-icon-size-small;
  height: $group-icon-size-small;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
  scrollbar-width: thin;
  // flex: 1; 
}

.add-task-form {
  @include group-font-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-text);
  width: rem(256px);
  height: rem(96px);
  padding-top: rem(2px); //0
  gap: rem(2px);


  .task-input {
    @include group-font-base;
    background: var(--ds-background-input);
    color: var(--ds-text);
    width: rem(256px);
    height: rem(56px);
    border: 0 solid transparent;
    border-radius: $group-border-radius-medium;
    padding: rem(8px) rem(12px);
    padding-top: 0; //input from top
    margin: 0;
    box-shadow: var(--ds-box-shadow);


    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--ds-text-subtlest);
    }
  }
}

.add-task-actions {
  @include group-font-base;
  display: flex;
  align-items: center;
  background: var(--ds-background-accent-gray-subtlest);
  color: var(--ds-text);
  width: rem(245.600px);
  height: rem(32px);
  gap: rem(4px);
  margin-top: rem(6px); //8
  margin-bottom: rem(3px); //0
}

.add-btn, .save-card-title-edit-btn {
  @include group-font-base;
  color: var(--ds-text-inverse);
  background: var(--ds-background-accent-blue-bolder);
  width: rem(81.5125px);
  height: rem(32px);
  font-weight: $group-font-weight-medium;
  border: none;
  border-radius: $group-border-radius-small;
  transition: background-color 0.2s ease;
  margin: 0;
  padding: rem(6px) rem(12px);

  &:hover {
    background: var(--ds-background-accent-blue-bolder-hovered);
  }
}

.cancel-btn {
  @include group-button-base;
  background: transparent;
  color: var(--ds-text);
  padding: rem(6px);
  margin: 0;
  border-radius: $group-border-radius-small;

  &:hover {
    background: var(--ds-background-neutral-hovered);
  }

  svg {
    width: $group-icon-size-medium;
    height: $group-icon-size-medium;
  }
}

.add-task-btn {
  @include group-font-base;
  display: flex;
  align-items: center;
  justify-self: center;
  align-content: center;
  width: rem(256px);
  height: rem(32px);
  background: transparent;
  color: var(--ds-text-subtle);
  font-weight: $group-font-weight-medium;
  border-radius: $group-border-radius-medium;
  border: none;
  padding: rem(20px) rem(10px);
  gap: rem(6px);
  transition: background-color 0.2s ease, color 0.2s ease;
  margin: 0;

  &:hover {
    background: var(--ds-background-neutral-hovered);
    color: var(--ds-text);
  }

  svg {
    width: $group-icon-size-small;
    height: $group-icon-size-small;
  }
}