.group-list-menu {
    background-color: var(--ds-background-input);
    color: var(--ds-text);
    width: rem(304px);
    overflow: hidden;
    border-radius: $group-border-radius-medium;
    outline: 0;
    box-shadow: rem(0px) rem(8px) rem(12px) rgba(9, 30, 66, 0.15), rem(0px) rem(0px) rem(1px) rgba(9, 30, 66, 0.31);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    // position: fixed;
    // inset: rem(164px) auto auto rem(696px);

    .group-list-menu-header {
        display: grid;
        position: relative;
        text-align: center;
        align-items: center;
        grid-template-columns: rem(32px) 1fr rem(32px);
        padding: rem(4px) rem(8px);
        line-height: $group-line-height-base;

        .group-list-menu-title {
            display: block;
            position: relative;
            grid-column: 1 / span 3;
            grid-row: 1;
            height: $group-header-height;
            margin: 0;
            padding: 0 $group-button-size;
            overflow: hidden;
            color: var(--ds-text-subtle);
            font-size: $group-font-size-base;
            font-weight: $group-font-weight-semibold;
            letter-spacing: rem(-0.0042px);
            line-height: $group-header-height;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .group-list-close-button {
            grid-column: 3;
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            width: $group-button-size;
            height: $group-button-size;
            border-radius: $group-border-radius-medium;
            background-color: var(--ds-background-input);
            color: var(--ds-icon-subtle);
            z-index: 2;
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            transition: background-color 0.2s ease, color 0.2s ease;

            &:hover {
                background-color: var(--ds-background-neutral-hovered); 
                color: var(--ds-icon);
                text-decoration: none;
            }

            svg {
                display: inline-block;
                flex-shrink: 0;
                width: $group-icon-size-small;
                height: $group-icon-size-small;
            }
        }
    }

    .group-list-menu-content {
        width: rem(304px);
        padding: rem(12px);
        color: var(--ds-text);
        padding-top: 0;
        background-color: var(--ds-background-input);
        overflow-x: hidden;
        overflow-y: auto;

        .group-list-menu-button {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: left;
            border: none;
            width: rem(304px);
            text-decoration: none;
            margin: 0;
            padding: rem(6px) rem(12px);
            transition: background-color 0.2s ease;
            border-radius: 0;
            outline: 0;
            font-size: $group-font-size-base;
            line-height: $group-line-height-base;
            background-color: var(--ds-background-input);
            color: var(--ds-text);
            box-shadow: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

            &:hover {
                border: none;
                box-shadow: none;
                background-color: var(--ds-background-neutral-subtle-hovered); 
                color: var(--ds-text);
                text-decoration: none;
            }

        }

        .group-list-menu-button-list-color {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: left;
            border: none;
            width: rem(304px);
            text-decoration: none;
            margin: 0;
            padding: rem(6px) rem(12px);
            transition: background-color 0.2s ease;
            border-radius: 0;
            outline: 0;
            font-size: $group-font-size-base;
            line-height: $group-line-height-base;
            background-color: var(--ds-background-input);
            color: var(--ds-text);
            box-shadow: none;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .color-picker {
            .color-grid {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                width: 100%;
                align-items: center;
                padding: rem(6px) rem(12px);
                gap: rem(8px);

                .color-button {
                    width: rem(36px);
                    height: rem(28px);
                    border: rem(1px) solid var(--ds-border);
                    border-radius: $group-border-radius-small;
                    margin: 0;
                    padding: rem(5px);
                    cursor: pointer;
                    transition: border 0.2s ease;

                    &.selected {
                        border: rem(3px) solid var(--ds-border-selected);
                    }

                    &.color-red {
                        background-color: var(--ds-background-accent-red-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-red-subtle-hovered);
                        }
                    }

                    &.color-orange {
                        background-color: var(--ds-background-accent-orange-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-orange-subtle-hovered);
                        }
                    }

                    &.color-yellow {
                        background-color: var(--ds-background-accent-yellow-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-yellow-subtle-hovered);
                        }
                    }

                    &.color-green {
                        background-color: var(--ds-background-accent-green-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-green-subtle-hovered);
                        }
                    }

                    &.color-teal {
                        background-color: var(--ds-background-accent-teal-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-teal-subtle-hovered);
                        }
                    }

                    &.color-blue {
                        background-color: var(--ds-background-accent-blue-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-blue-subtle-hovered);
                        }
                    }

                    &.color-purple {
                        background-color: var(--ds-background-accent-purple-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-purple-subtle-hovered);
                        }
                    }

                    &.color-magenta {
                        background-color: var(--ds-background-accent-magenta-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-magenta-subtle-hovered);
                        }
                    }

                    &.color-gray {
                        background-color: var(--ds-background-accent-gray-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-gray-subtle-hovered);
                        }
                    }

                    &.color-lime {
                        background-color: var(--ds-background-accent-lime-subtle);

                        &:hover {
                            background-color: var(--ds-background-accent-lime-subtle-hovered);
                        }
                    }
                }
            }

            .remove-color-button {
                display: flex;
                text-align: center;
                align-items: center;
                justify-content: center;
                width: 100%;
                padding: rem(8px) rem(12px);
                background-color: var( --ds-background-neutral-subtle-hovered);
                border: rem(1px) solid var(--ds-border);
                border-radius: $group-border-radius-small;
                font-size: $group-font-size-base;
                color: var(--ds-text-subtle);
                gap: rem(8px);
                margin: 0;
                transition: background-color 0.2s ease;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

                &:hover {
                    background-color: var(--ds-background-neutral-hovered);
                }

                svg {
                    width: $group-icon-size-small;
                    height: $group-icon-size-small;
                }
            }
        }
    }
}