.task-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 1px;
  row-gap: rem(8px);
  list-style: none;
  flex-shrink: 0;

  // width: rem(264px);
  // padding: rem(4px);
  // margin: 0 rem(4px);

  // overflow: auto;
  // scrollbar-color: var(--ds-background-neutral-hovered, #091e4224) var(--ds-background-neutral, #091e420f);
  // scrollbar-width: thin;
  // scroll-behavior: smooth;
  // flex: 1;
}

@media (max-width: 600px) {
  .task-list {
    width: 100%;
    padding: 0 2px;
    row-gap: 6px;
  }
}