.task-list {
  display: flex;
  width: rem(264px);
  flex-direction: column;
  row-gap:rem(8px);
  padding: rem(4px);
  margin: 0 rem(4px);
  // margin-top: rem(-4px);//too close to group title
  list-style: none;  
}