.quick-edit-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.64);
    z-index: 999;
}

.task-quick-edit {
    display: flex;
    align-items: start;
    gap: rem(6px);

    .quick-edit-card {
        width: rem(256px);
        // gap: rem(2px);
        // overflow: hidden;

        .task-preview {
            border-radius: rem(3px);

            &.editing {
                .task-content {
                    min-height: rem(64px);
                    border-radius: 0 0 $group-border-radius-medium $group-border-radius-medium;

                    .task-header {
                        display: flow-root;
                        margin-bottom: rem(4px);

                        .task-title-edit {
                            .card-title-editable {
                                width: 100%;
                                max-height: rem(120px);
                                min-height: rem(56px);
                                font-size: $group-font-size-base;
                                font-weight: $group-font-weight-regular;
                                line-height: $group-line-height-base;
                                color: var(--ds-text);
                                background: var(--ds-background-input);
                                outline: none;
                                resize: none;
                                border: none;
                                font-family: inherit;
                                word-wrap: break-word;
                                // padding: rem(8px) rem(12px);
                            }

                        }

                    }
                }

                &:hover {
                    outline: none;
                }

                .task-edit-controls {
                    border-radius: $group-border-radius-small;

                    .save-card-title-edit-btn {
                        width: rem(53.36px);
                        height: rem(32px);
                        margin-top: rem(8px);
                        background: var(--ds-background-accent-blue-bolder);
                        color: var(--ds-text-inverse);
                        border: none;
                        border-radius: $group-border-radius-small;
                        padding: rem(6px) rem(12px);
                        font-size: $group-font-size-base;
                        font-weight: $group-font-weight-medium;
                        transition: background-color 0.1s ease;
                        box-shadow: none;
                        outline: none;

                        &:hover {
                            background: var(--ds-background-accent-blue-bolder-hovered);
                        }

                        // &:focus {
                        //     background: var(--ds-background-accent-blue-bolder);
                        //     box-shadow: 0 0 0 2px rgba(0, 121, 191, 0.3);
                        // }
                    }
                }
            }
        }
    }

    .quick-edit-actions {
        // width: rem(157.46px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .action-button {
            display: flex;
            align-items: center;
            height: rem(32px);
            background-color: var(--ds-background-accent-gray-subtlest);
            color: var(--ds-text);
            margin: 0;
            margin-bottom: rem(4px);
            padding: rem(6px) rem(12px) rem(6px) rem(10px);
            border-radius: $group-border-radius-small;
            font-family: inherit;
            font-size: $group-font-size-base;
            line-height: $group-line-height-base;
            font-weight: $group-font-weight-medium;
            transition: background 0.1s ease;
            // border: none;
            // display: flex;
            // align-items: center;
            // gap: 8px;
            // width: 100%;
            // text-align: left;

            &:hover {
                background: var(--ds-background-accent-gray-subtler);
            }

            svg {
                width: rem(16px);
                height: rem(16px);
                margin-right: rem(8px);
                // flex-shrink: 0;
            }

            &.clock-icon svg,
            &.delete-icon svg {
                width: rem(14px);
                height: rem(14px);
            }

        }
    }

    &.left-side {
        flex-direction: row-reverse;
    }
}