.task-preview {
    width: rem(256px);
    border-radius: $group-border-radius-medium;
    box-shadow: var(--ds-box-shadow);

    // display: flow-root;
    // width: rem(256px);
    // background-color: var(--ds-background-input);
    // box-shadow: 0 rem(1px) rem(1px) var(--ds-border), var(--ds-border-bold);
    // color: var(--ds-text);
    // // padding: rem(8px) rem(5px) rem(4px);
    // padding: rem(8px) rem(12px) rem(4px);
    // overflow-wrap: break-word;

    &:hover {
        outline: 2px solid var(--ds-border-focused);

        .edit-icon {
            opacity: 1;
        }

        .task-done-btn {
            opacity: 1;
        }
    }

    &.task-done {
        .task-title {
            background-color: var(--ds-background-input);
            color: var(--ds-text-subtlest);
            width: rem(210px);
            margin-bottom: rem(4px);
        }

        .task-done-btn {
            opacity: 1;
            width: $group-icon-size-medium;
            height: $group-icon-size-medium;

            svg {
                width: $group-icon-size-small;
                height: $group-icon-size-small;

                path {
                    fill: var(--ds-icon-accent-green);
                    fill-rule: evenodd;
                    d: path("M 0 8 a 8 8 0 1 1 16 0 A 8 8 0 0 1 0 8 m 12.326 -2.52 l -1.152 -0.96 L 6.75 9.828 L 4.826 7.52 l -1.152 0.96 l 2.5 3 a 0.75 0.75 0 0 0 1.152 0 Z");
                    clip-rule: evenodd;
                }
            }

            &:hover {
                background-color: var(--ds-background-neutral-subtle-hovered);

                svg {
                    opacity: 0.9;
                }
            }
        }
    }
}


.task-content {
    position: relative;
    background-color: var(--ds-background-input);
    color: var(--ds-text);
    width: rem(256px);
    padding: rem(8px) rem(12px) rem(4px);
    border-radius: $group-border-radius-medium;
    box-shadow: var(--ds-box-shadow);
    overflow-wrap: break-word;
    //  display: flow-root;
    // padding: rem(8px) rem(5px) rem(4px);
}

.task-header {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    // width: rem(232px);
}

.task-title,
.card-title-editable {
    width: rem(210px);
    color: var(--ds-text);
    font-size: $group-font-size-base;
    font-weight: $group-font-weight-regular;
    line-height: $group-line-height-base;
    margin-bottom: rem(4px);
}

.task-done-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: var(--ds-text-subtlest);
    width: $group-icon-size-medium;
    height: $group-icon-size-medium;
    font-size: $group-font-size-base;
    line-height: $group-line-height-base;
    font-weight: $group-font-weight-medium;
    border: none;
    border-radius: $group-border-radius-small;
    margin: 0px rem(4px) 0 rem(-2px);
    padding: rem(2px);
    opacity: 0;

    svg {
        width: $group-icon-size-medium;
        height: $group-icon-size-medium;
    }

}

.task-edit-btn,
.task-delete-btn {
    position: absolute;
    background-color: var(--ds-background-input);
    width: rem(26px);
    height: rem(26px);
    margin: 0 rem(2px);
    border-radius: rem(16px);
    padding: rem(6px);
    top: 0;
    right: 0;
    border: none;

    &:hover {
        background-color: var(--ds-background-neutral-subtle-hovered);
    }

    svg {
        width: rem(14px);
        height: rem(14px);
    }
}

.task-delete-btn {
    right: rem(28px);
}