:root {
  --header-btn-hover: #a6c5e229;
  --dynamic-background: #1d2125;

}

// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: #222;

$gray1: #ddd;
$gray2: #aaa;
$gray3: #777;
$gray4: #333;

// Font System
$group-font-size-base: rem(14px);
$group-font-size-medium: rem(20px);
$group-line-height-base: rem(20px);
$group-line-height-medium: rem(24px);
$group-line-height-compact: rem(14px);

// Font Weights  
$group-font-weight-regular: 400;
$group-font-weight-medium: 500;
$group-font-weight-semibold: 600;
$group-font-weight-bold: 700;

// Spacing & Dimensions
$group-border-radius-small: rem(3px);
$group-border-radius-mini: rem(4px);
$group-border-radius-medium: rem(8px);
$group-border-radius-large: rem(12px);
$group-width: rem(272px);
$group-header-height: rem(40px);
$group-button-size: rem(32px);
$group-add-group-height: rem(44px);
$group-form-height: rem(88px);
$group-input-width: rem(256px);
$group-action-btn-width: rem(72.5156px);
$group-icon-size-small: rem(16px);
$group-icon-size-medium: rem(20px);
$group-icon-size-large: rem(24px);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;